@charset "UTF-8";

html{
  font-size: 16px;
  font-family: BIZ UDPゴシック, "ヒラギノ角ゴProN", Meiryo, "MS Pゴシック", sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

h2{
  margin: 40px 0px 40px 0px;
}

.select{
  width: 80%;
  margin: 0 auto;
}

.select > a > img{
  margin: 4% 20px;
  display: none;
}

p2{
  font-size: 1.5em;
  margin-bottom: 2%;
}

.usazone{
  cursor: pointer;
}
.gusazone{
  cursor: pointer;
}

.usa{
  margin: 10px 20px 0px auto;
  height: 200px;
  width: 200px;
}

.hukidasi_usa{
  margin: 10px auto 0px 20px;
  height: 200px;
  width: 600px;
  display: none;
  position: relative;
  display: inline-block;
}

.bk{
  height: 180px;
  width: 500px;
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
}


.gusa{
  margin: 10px 20px 0px auto;
  height: 200px;
  width: 200px;
}

.hukidasi_gusa{
  margin: 10px auto 0px 20px;
  height: 200px;
  width: 600px;
  display: none;
  position: relative;
  display: inline-block;
}

.bkg{
  height: 180px;
  width: 500px;
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
}

.pp{
  line-height: 30px;
  height: 160px;
  width: 470px;
  top: 15px;
  left: 15px;
  text-align: left;
}

.intro{
  margin: 0 auto;
}

.button{
  display: block;
  background-color: rgb(123,230,29);
  color: white;
  font-weight: bold;
  height: 100px;
  width: 200px;
  margin: 30px auto;
  line-height: 100px;
  border-radius: 11px;
  font-size: 1.3em;
  text-decoration: none;
}

footer{
  margin: 40px auto;
}
